Repository gardener/dashboard, pull requests merged in 2020-11, with the labels that each got.

#854 Handle unreachable seeds in terminal bootstrap logic
  backend/lib/services/seeds.js
  backend/lib/services/terminals/terminalBootstrap.js
  backend/lib/utils/index.js
  backend/test/services.terminals.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#855 Use visible seed settings field
  backend/lib/cache/index.js
  backend/lib/services/seeds.js
  backend/test/support/common.js
  frontend/src/store/modules/shoots.js
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#852 Allow endusers to create garden webterminals
  backend/lib/services/terminals/index.js
  backend/test/services.terminals.spec.js
  frontend/src/components/AccountAvatar.vue
  frontend/src/components/ProjectServiceAccountRow.vue
  frontend/src/components/ServiceAccountRoles.vue
  frontend/src/components/ShootDetails/TerminalShortcutsTile.vue
  frontend/src/components/TerminalTarget.vue
  frontend/src/components/dialogs/CreateTerminalSessionDialog.vue
  frontend/src/components/dialogs/MemberDialog.vue
  frontend/src/components/dialogs/WebterminalServiceAccountDialog.vue
  frontend/src/router/routes.js
  frontend/src/store/index.js
  frontend/src/store/modules/members.js
  frontend/src/utils/index.js
  frontend/src/views/Members.vue
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#867 Use base images from GCR
  .ci/pipeline_definitions
  Dockerfile
  backend/test/docker.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#862 Disallow the use of console
  backend/.eslintrc.js
  charts/package.json
  frontend/.eslintrc.js
  frontend/src/components/GTerminal.vue
  frontend/src/components/RetryOperation.vue
  frontend/src/components/ShootHibernation/ManageHibernationSchedule.vue
  frontend/src/lib/terminal.js
  frontend/src/lib/xterm-addon-k8s-attach.js
  frontend/src/store/index.js
  frontend/src/utils/Emitter.js
  packages/kube-client/package.json
  packages/kube-config/package.json
  packages/logger/lib/Logger.js
  packages/logger/package.json
  packages/request/package.json
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#858 Switch project on MY ACCOUNT page
  frontend/src/components/MainNavigation.vue
  frontend/src/utils/index.js
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#861 Fix terminal service test
  backend/test/services.terminals.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#860 Use secret binding name as infrastructure secret name
  backend/lib/services/infrastructureSecrets.js
  backend/test/acceptance/api.infrastructureSecrets.spec.js
  frontend/src/components/Secret.vue
  frontend/src/components/SecretRow.vue
  frontend/src/utils/index.js
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#871 ServiceAccount Member Dashboard Access
  backend/lib/services/projects.js
  backend/test/services.projects.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#876 Specify supported versions of `node` and `yarn`
  .pnp.js
  .reuse/dep5
  .yarnrc.yml
  backend/package.json
  charts/package.json
  frontend/package.json
  package.json
  packages/kube-client/package.json
  packages/kube-config/package.json
  packages/logger/package.json
  packages/request/package.json
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#878 Declare "node-gyp@latest" as development dependency
  .pnp.js
  frontend/package.json
  package.json
  yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#877 Use binding name/namespace as infrastructure secret identifier
  backend/lib/routes/infrastructureSecrets.js
  backend/lib/services/infrastructureSecrets.js
  backend/test/acceptance/api.infrastructureSecrets.spec.js
  backend/test/acceptance/api.shoots.spec.js
  backend/test/support/nocks/k8s.js
  frontend/src/components/NewShoot/NewShootInfrastructureDetails.vue
  frontend/src/components/PurposeConfiguration.vue
  frontend/src/components/Secret.vue
  frontend/src/components/SecretRow.vue
  frontend/src/components/ShootMessageDetails.vue
  frontend/src/components/ShootStatus.vue
  frontend/src/components/StatusTag.vue
  frontend/src/components/StatusTags.vue
  frontend/src/components/dialogs/SecretDialog.vue
  frontend/src/components/dialogs/SecretDialogDelete.vue
  frontend/src/store/index.js
  frontend/src/store/modules/infrastructureSecrets.js
  frontend/src/store/modules/shoots.js
  frontend/src/utils/api.js
  frontend/src/utils/index.js
  frontend/src/views/NewShoot.vue
  frontend/src/views/Secrets.vue
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#869 Remove "© YYYY" from the footer
  frontend/src/components/MainNavigation.vue
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#857 Only generate html in the backend or via vue templates
  .pnp.js
  .yarn/cache/dom-serializer-npm-1.1.0-c4d9e9d90f-25b0a31f78.zip
  .yarn/cache/domhandler-npm-3.3.0-6417f7e17e-dcc53af0ac.zip
  .yarn/cache/dompurify-npm-2.1.1-bf354d513b-82b4e97914.zip
  .yarn/cache/domutils-npm-2.4.2-836cfae901-43d7e55714.zip
  .yarn/cache/escape-string-regexp-npm-4.0.0-4b531d8d59-c747be8d5f.zip
  .yarn/cache/htmlparser2-npm-4.1.0-484402b323-4a5d9ecbe3.zip
  .yarn/cache/klona-npm-2.0.4-6bc4e7cd86-be4a0c7841.zip
  .yarn/cache/line-column-npm-1.0.2-bdeb1193f9-e6fa785b0c.zip
  .yarn/cache/marked-npm-0.8.2-573a275565-49148dd789.zip
  .yarn/cache/nanoid-npm-3.1.16-d6962d7364-1903aa0a76.zip
  .yarn/cache/parse-srcset-npm-1.0.2-8acc142245-f79a26845a.zip
  .yarn/cache/postcss-npm-8.1.4-d23d625804-b2bfa799c0.zip
  .yarn/cache/sanitize-html-npm-2.1.1-7eb0c29f76-80e3952c1a.zip
  .yarn/cache/showdown-npm-1.9.1-c01239fc92-ec5d438ab1.zip
  .yarn/cache/yargs-npm-14.2.3-b84ca3cee2-cfe46545a6.zip
  .yarn/cache/yargs-parser-npm-15.0.1-7ef5e80780-1969d5cf00.zip
  backend/lib/app.js
  backend/lib/markdown.js
  backend/lib/middleware.js
  backend/lib/services/terminals/index.js
  backend/lib/services/tickets.js
  backend/package.json
  backend/test/acceptance/api.terminals.spec.js
  backend/test/acceptance/webhook.spec.js
  backend/test/support/nocks/github.js
  frontend/package.json
  frontend/src/components/GTerminal.vue
  frontend/src/components/MainContent.vue
  frontend/src/components/NewShoot/NewShootDetails.vue
  frontend/src/components/ShootAccessRestrictions/AccessRestrictions.vue
  frontend/src/components/ShootAddons/ManageAddons.vue
  frontend/src/components/ShootDetails/ShootDetailsCard.vue
  frontend/src/components/ShootTickets/TicketComment.vue
  frontend/src/components/dialogs/ProjectDialog.vue
  frontend/src/components/messages/DeleteServiceAccount.vue
  frontend/src/components/messages/RemoveProjectMember.vue
  frontend/src/plugins/index.js
  frontend/src/plugins/utils.js
  frontend/src/utils/index.js
  frontend/src/views/Administration.vue
  frontend/src/views/Members.vue
  yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#882 add media.github to permitted csp for images
  backend/lib/app.js
Labels: needs/changes, needs/ok-to-test, size/xs

#884 Save shoot list filter options in local storage
  frontend/src/router/guards.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/modules/shoots.js
  frontend/src/views/ShootList.vue
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#894 Update pull_request_template.md
  .github/pull_request_template.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
