Repository gardener/dashboard, pull requests merged in 2020-07, with the labels that each got.

#726 Upgrade image to node 14.5 and alpine 3.12
  Dockerfile
  backend/lib/app.js
  backend/package.json
  backend/test/dockerfile.spec.js
Labels: needs/ok-to-test, reviewed/lgtm

#725 Add iam:UpdateAssumeRolePolicy to the AWS policy
  frontend/src/components/dialogs/SecretDialogAwsHelp.vue
Labels: needs/ok-to-test, reviewed/lgtm

#722 Tickets: Configurable issue description template
  charts/gardener-dashboard/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  charts/test/gardener-dashboard.spec.js
  frontend/src/components/TicketsCard.vue
  frontend/src/store/modules/shoots.js
  frontend/src/views/ShootList.vue
Labels: needs/ok-to-test

#724 Allow wakeup of shoot in certain condition
  frontend/src/components/ShootHibernation/ChangeHibernation.vue
Labels: needs/ok-to-test, reviewed/lgtm

#723 Tickets: Use project instead of namespace
  backend/lib/cache/tickets.js
  backend/lib/io.js
  backend/lib/services/tickets.js
  backend/test/acceptance/io.spec.js
  backend/test/cache.tickets.spec.js
  backend/test/services.tickets.spec.js
  frontend/src/components/ShootTickets/Ticket.vue
  frontend/src/components/ShootTickets/TicketComment.vue
  frontend/src/components/TicketsCard.vue
  frontend/src/store/index.js
  frontend/src/store/modules/shoots.js
  frontend/src/store/modules/tickets.js
  frontend/src/utils/index.js
Labels: needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test

#728 Version classifications support
  frontend/src/components/GPopper.vue
  frontend/src/components/NewShoot/NewShootDetails.vue
  frontend/src/components/ShootDetails/ShootDetailsCard.vue
  frontend/src/components/ShootListRow.vue
  frontend/src/components/ShootMaintenance/MaintenanceComponents.vue
  frontend/src/components/ShootVersion/ShootVersion.vue
  frontend/src/components/ShootVersion/ShootVersionUpdate.vue
  frontend/src/components/ShootWorkers/MachineImage.vue
  frontend/src/components/ShootWorkers/WorkerInputGeneric.vue
  frontend/src/components/TimeString.vue
  frontend/src/components/VersionExpirationWarning.vue
  frontend/src/components/dialogs/TerminalSettingsDialog.vue
  frontend/src/store/index.js
  frontend/src/store/modules/shoots.js
  frontend/src/utils/index.js
  frontend/tests/unit/MachineImage.spec.js
  frontend/tests/unit/NewShootDetails.spec.js
  frontend/tests/unit/store.index.spec.js
  frontend/tests/unit/utils.hibernationSchedule.spec.js
  frontend/tests/unit/utils.spec.js
Labels: needs/ok-to-test, reviewed/lgtm

#730 Fix ticket webhook
  backend/lib/github/webhook.js
  backend/lib/io.js
  backend/lib/watches/tickets.js
  backend/test/watches.spec.js
  charts/gardener-dashboard/values.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#731 [hotfix-1.43]Allow to specify new ticket labels
  charts/gardener-dashboard/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  charts/test/gardener-dashboard.spec.js
  frontend/src/components/ShootTickets/TicketComment.vue
  frontend/src/components/TicketsCard.vue
Labels: needs/ok-to-test

#735 Use channel id for posting slack release notes
  .ci/pipeline_definitions
Labels: needs/ok-to-test

#733 [master] Allow to specify new ticket labels
  charts/gardener-dashboard/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  charts/test/gardener-dashboard.spec.js
  frontend/src/components/ShootTickets/TicketComment.vue
  frontend/src/components/TicketsCard.vue
Labels: needs/ok-to-test

#700 log filtered cloudprofiles
  backend/lib/services/cloudprofiles.js
Labels: needs/ok-to-test, reviewed/lgtm

#743 [hotfix-1.43] Fix ticket deletion
  backend/lib/watches/shoots.js
  backend/lib/watches/tickets.js
  backend/test/watches.spec.js
Labels: needs/ok-to-test, reviewed/lgtm

#742 [master] Fix ticket deletion
  backend/lib/watches/shoots.js
  backend/lib/watches/tickets.js
  backend/test/watches.spec.js
Labels: needs/ok-to-test, reviewed/lgtm

#756 [hotfix-1.43] Upgrade http client library 'got' to latest version
  backend/lib/cache/index.js
  backend/lib/http-client/HTTPClient.js
  backend/lib/http-client/HTTPError.js
  backend/lib/http-client/index.js
  backend/lib/kubernetes-client/ApiErrors.js
  backend/lib/kubernetes-client/Client.js
  backend/lib/kubernetes-client/HttpClient.js
  backend/lib/kubernetes-client/cache/Reflector.js
  backend/lib/kubernetes-client/debug.js
  backend/lib/kubernetes-client/util.js
  backend/lib/logger/Logger.js
  backend/lib/routes/info.js
  backend/lib/server.js
  backend/lib/services/shoots.js
  backend/package.json
  backend/test/docker.spec.js
  backend/test/healthz.spec.js
  backend/test/http-client.spec.js
  backend/test/kubernetes-client.api-errors.spec.js
  backend/test/kubernetes-client.client.spec.js
  backend/yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm

#751 [master] Improve terminal bootstrapping
  backend/lib/services/terminals/terminalBootstrap.js
  backend/lib/watches/shoots.js
  backend/test/acceptance/api.shoots.spec.js
  backend/test/services.terminals.spec.js
  backend/test/support/common.js
  backend/test/support/nocks/k8s.js
Labels: needs/ok-to-test, reviewed/lgtm

#758 [hotfix-1.43]Improve terminal bootstrapping
  backend/lib/services/terminals/terminalBootstrap.js
  backend/lib/watches/shoots.js
  backend/test/acceptance/api.shoots.spec.js
  backend/test/services.terminals.spec.js
  backend/test/support/common.js
  backend/test/support/nocks/k8s.js
Labels: needs/ok-to-test

#757 [master]Upgrade http client library 'got' to latest version
  backend/lib/cache/index.js
  backend/lib/http-client/HTTPClient.js
  backend/lib/http-client/HTTPError.js
  backend/lib/http-client/index.js
  backend/lib/kubernetes-client/ApiErrors.js
  backend/lib/kubernetes-client/Client.js
  backend/lib/kubernetes-client/HttpClient.js
  backend/lib/kubernetes-client/cache/Reflector.js
  backend/lib/kubernetes-client/debug.js
  backend/lib/kubernetes-client/util.js
  backend/lib/logger/Logger.js
  backend/lib/routes/info.js
  backend/lib/server.js
  backend/lib/services/shoots.js
  backend/package.json
  backend/test/docker.spec.js
  backend/test/healthz.spec.js
  backend/test/http-client.spec.js
  backend/test/kubernetes-client.api-errors.spec.js
  backend/test/kubernetes-client.client.spec.js
  backend/yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm

#760 [hotfix-1.43] Do not log res body for levels gt trace
  backend/lib/kubernetes-client/debug.js
  backend/lib/logger/Logger.js
Labels: needs/ok-to-test, reviewed/lgtm

#761 Do not log res body for levels gt trace
  backend/lib/kubernetes-client/debug.js
  backend/lib/logger/Logger.js
Labels: needs/ok-to-test, reviewed/lgtm

#763 [hotfix-1.43] Not found is thrown for missing seed secrets
  backend/lib/services/shoots.js
Labels: needs/ok-to-test, reviewed/lgtm

#764 Not found is thrown for missing seed secrets
  backend/lib/services/shoots.js
Labels: needs/ok-to-test
