Repository gardener/dashboard, pull requests merged in 2021-07, with the labels that each got.

#1043 Hetzner support
  frontend/src/assets/hcloud.svg
  frontend/src/components/NewShoot/NewShootInfrastructureDetails.vue
  frontend/src/components/ShootWorkers/ManageWorkers.vue
  frontend/src/components/VendorIcon.vue
  frontend/src/components/dialogs/SecretDialogHCloud.vue
  frontend/src/components/dialogs/SecretDialogWrapper.vue
  frontend/src/store/index.js
  frontend/src/utils/createShoot.js
  frontend/src/views/Secrets.vue
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#1055 Update the Alicloud RAM policy
  frontend/src/components/dialogs/SecretDialogAlicloud.vue
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#1054 Keep frontend host during the OIDC login process
  backend/__fixtures__/config.js
  backend/lib/config/gardener.js
  backend/lib/security/index.js
  backend/package.json
  backend/test/acceptance/auth.spec.js
  backend/test/config.spec.js
  charts/__fixtures__/gardener-dashboard.js
  charts/__fixtures__/identity.js
  charts/__tests__/gardener-dashboard/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/__snapshots__/ingress.spec.js.snap
  charts/__tests__/gardener-dashboard/configmap-assets.spec.js
  charts/__tests__/gardener-dashboard/configmap.spec.js
  charts/__tests__/gardener-dashboard/deployment.spec.js
  charts/__tests__/gardener-dashboard/ingress.spec.js
  charts/__tests__/gardener-dashboard/rbac.spec.js
  charts/__tests__/gardener-dashboard/secrets.spec.js
  charts/__tests__/gardener-dashboard/service.spec.js
  charts/__tests__/gardener-dashboard/serviceaccount.spec.js
  charts/__tests__/gardener-dashboard/vpa.spec.js
  charts/__tests__/identity/__snapshots__/configmap.spec.js.snap
  charts/__tests__/identity/configmap.spec.js
  charts/gardener-dashboard/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  charts/identity/templates/configmap.yaml
  charts/jest.setup.js
  frontend/src/utils/auth.js
  frontend/tests/unit/utils.auth.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#1058 Refresh accessToken of gcp auth-provider user
  .pnp.js
  .yarn/cache/agent-base-npm-6.0.2-428f325a93-e77eff83e1.zip
  .yarn/cache/gaxios-npm-4.3.0-b0ed348110-190f693d72.zip
  .yarn/cache/google-p12-pem-npm-3.1.0-6755c5f8c2-b1dfd8b698.zip
  .yarn/cache/gtoken-npm-5.3.0-6c9aaeb61d-14644b721c.zip
  .yarn/cache/https-proxy-agent-npm-5.0.0-bb777903c3-18aa04ea08.zip
  .yarn/cache/jwa-npm-2.0.0-52a7c3f1ca-03f8af36a3.zip
  .yarn/cache/jws-npm-4.0.0-2a24fd53b9-fb7d2725da.zip
  backend/lib/services/shoots.js
  backend/test/acceptance/__snapshots__/api.members.spec.js.snap
  backend/test/acceptance/__snapshots__/api.shoots.spec.js.snap
  backend/test/acceptance/api.shoots.spec.js
  packages/kube-client/__fixtures__/helper.js
  packages/kube-client/__fixtures__/index.js
  packages/kube-client/__tests__/client.test.js
  packages/kube-client/lib/Client.js
  packages/kube-client/lib/index.js
  packages/kube-config/__mocks__/gtoken.js
  packages/kube-config/__tests__/kube-config.test.js
  packages/kube-config/lib/Config.js
  packages/kube-config/lib/index.js
  packages/kube-config/package.json
  yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#1061 Extract `decorateClassificationObject` function
  frontend/src/store/index.js
Labels: reviewed/lgtm, reviewed/ok-to-test, size/s

#1060 Treat versions without classification as supported
  frontend/src/store/index.js
  frontend/tests/unit/store.index.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#1067 Fix chart for sla config
  charts/__tests__/gardener-dashboard/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/configmap.spec.js
  charts/gardener-dashboard/templates/configmap.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#1062 Improve code reliability, security and maintainability
  .pnp.js
  .yarn/cache/@braintree-sanitize-url-npm-5.0.2-ef365f598a-16a022d29d.zip
  backend/lib/app.js
  backend/lib/utils/batchEmitter.js
  backend/test/utils.spec.js
  frontend/package.json
  frontend/src/components/AccountAvatar.vue
  frontend/src/components/ExternalLink.vue
  frontend/src/components/LinkListTile.vue
  frontend/src/components/MainNavigation.vue
  frontend/src/components/MainToolbar.vue
  frontend/src/components/ProjectServiceAccountRow.vue
  frontend/src/components/ProjectUserRow.vue
  frontend/src/components/ShootDetails/ShootAccessCard.vue
  frontend/src/components/ShootHibernation/ChangeHibernation.vue
  frontend/src/components/ShootTickets/Ticket.vue
  frontend/src/components/ShootTickets/TicketComment.vue
  frontend/src/components/ShootVersion/ShootVersion.vue
  frontend/src/components/TerminalShortcut.vue
  frontend/src/components/TerminalTarget.vue
  frontend/src/components/TicketsCard.vue
  frontend/src/components/VendorIcon.vue
  frontend/src/components/dialogs/GDialog.vue
  frontend/src/components/dialogs/InfoDialog.vue
  frontend/src/components/dialogs/SecretDialogAlicloud.vue
  frontend/src/components/dialogs/SecretDialogAws.vue
  frontend/src/components/dialogs/SecretDialogAzure.vue
  frontend/src/components/dialogs/SecretDialogGcp.vue
  frontend/src/components/dialogs/SecretDialogHCloud.vue
  frontend/src/components/dialogs/SecretDialogOpenstack.vue
  frontend/src/components/dialogs/SecretDialogVSphere.vue
  frontend/src/components/dialogs/WebterminalServiceAccountDialog.vue
  frontend/src/components/messages/DeleteServiceAccount.vue
  frontend/src/components/messages/RemoveProjectMember.vue
  frontend/src/components/messages/RotateServiceAccountSecret.vue
  frontend/src/mixins/sanitizeUrl.js
  frontend/src/sass/main.scss
  frontend/src/utils/index.js
  frontend/src/views/Account.vue
  frontend/src/views/Administration.vue
  frontend/src/views/Login.vue
  yarn.lock
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#1068 Direct update of store for dns configuration
  frontend/src/components/NewShoot/NewShootInfrastructureDetails.vue
  frontend/src/components/SelectSecret.vue
  frontend/src/components/ShootDns/DnsConfiguration.vue
  frontend/src/components/ShootDns/DnsProviderRow.vue
  frontend/src/components/ShootDns/ManageDns.vue
  frontend/src/components/dialogs/SecretDialogWrapper.vue
  frontend/src/store/index.js
  frontend/src/store/modules/shootStaging.js
  frontend/src/views/NewShoot.vue
Labels: reviewed/lgtm, reviewed/ok-to-test, size/xl

#1066 Add configurable hints for machine image vendors
  backend/lib/middleware.js
  charts/__fixtures__/helm.js
  charts/__tests__/gardener-dashboard/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/configmap.spec.js
  charts/gardener-dashboard/templates/configmap.yaml
  frontend/src/components/MultiMessage.vue
  frontend/src/components/ShootWorkers/MachineImage.vue
  frontend/src/store/index.js
  frontend/tests/unit/store.index.spec.js
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#1069 Some final fixes and improvement proposals for enh/dns-secret
  frontend/src/components/SelectSecret.vue
  frontend/src/components/ShootDetails/ShootInfrastructureCard.vue
  frontend/src/components/ShootDns/DnsConfiguration.vue
  frontend/src/components/ShootDns/DnsProviderRow.vue
  frontend/src/components/ShootDns/ManageDns.vue
  frontend/src/store/modules/shootStaging.js
  frontend/src/utils/validators.js
  frontend/src/views/NewShoot.vue
Labels: reviewed/lgtm, reviewed/ok-to-test, size/m
