Repository gardener/dashboard, pull requests merged in 2022-01, with the labels that each got.

#1149 Proposal for changes to PR gardenctl-v2 commands
  .vscode/settings.json
  backend/lib/api.js
  backend/lib/config/gardener.js
  backend/lib/frontendConfigHandler.js
  backend/lib/middleware.js
  backend/lib/routes/info.js
  backend/test/acceptance/__snapshots__/api.info.spec.js.snap
  backend/test/acceptance/__snapshots__/config.spec.js.snap
  backend/test/acceptance/api.info.spec.js
  backend/test/acceptance/config.spec.js
  charts/__tests__/gardener-dashboard/configmap.spec.js
  charts/gardener-dashboard/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  frontend/src/app.js
  frontend/src/components/GardenctlSettings.vue
  frontend/src/components/ShootDetails/GardenctlCommands.vue
  frontend/src/store/index.js
  frontend/src/utils/api.js
Labels: reviewed/ok-to-test, needs/review, size/xl, needs/second-opinion

#1145 [master] Improve socket connection and subscription handling
  backend/jest.setup.js
  backend/lib/io.js
  backend/lib/security/index.js
  backend/lib/utils/batchEmitter.js
  backend/lib/watches/shoots.js
  backend/lib/watches/tickets.js
  backend/test/acceptance/io.spec.js
  backend/test/utils.spec.js
  backend/test/watches.spec.js
  frontend/src/store/index.js
  frontend/src/store/modules/tickets.js
  frontend/src/utils/Emitter.js
Labels: size/xl, needs/ok-to-test, needs/second-opinion

#1151 Streamline error codes
  frontend/src/utils/errorCodes.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1152 Gardenctl commands: Update store only on settings change
  frontend/src/app.js
  frontend/src/components/GardenctlSettings.vue
  frontend/src/components/ShootDetails/GardenctlCommands.vue
  frontend/src/store/index.js
Labels: reviewed/lgtm, size/s, needs/ok-to-test
