Repository gardener/dashboard, pull requests merged in 2022-11, with the labels that each got.

#1330 Handle non JSON responses when json is expected
  packages/request/__tests__/client.test.js
  packages/request/__tests__/errors.test.js
  packages/request/lib/Client.js
  packages/request/lib/errors.js
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1334 Fixed KUBECONFIG file system watcher
  packages/kube-config/__tests__/watcher.test.js
  packages/kube-config/lib/ClientConfig.js
  packages/kube-config/lib/Watcher.js
Labels: reviewed/lgtm, size/s, needs/ok-to-test

#1335 [master] Fixed DNS Provider List not visible for non-admin users
  backend/__fixtures__/controllerregistrations.js
  backend/lib/services/controllerregistrations.js
  backend/test/acceptance/__snapshots__/api.controllerregistrations.spec.js.snap
Labels: reviewed/lgtm, size/s, needs/ok-to-test

#1337 [hotfix] Fixed DNS Provider List not visible for non-admin users
  backend/__fixtures__/controllerregistrations.js
  backend/lib/services/controllerregistrations.js
  backend/test/acceptance/__snapshots__/api.controllerregistrations.spec.js.snap
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1336 Updated the Gardener API documentation - Rebased PR
  docs/images/00-create-project.png
  docs/images/01-add-service-account.png
  docs/images/01-provide-project-details-public.png
  docs/images/01-provide-project-details.png
  docs/images/02-create-project-done.png
  docs/images/02-enter-service-account-details.png
  docs/images/03-create-project-1.png
  docs/images/03-download-service-account-kubeconfig.png
  docs/images/04-delete-project.png
  docs/images/04-delete-service-account.png
  docs/images/Add-service-account.png
  docs/images/Enter-service-account-details.png
  docs/usage/gardener-api.md
  docs/usage/project-operations.md
  docs/usage/working-with-projects.md
  docs/usage/working-with-service-accounts.md
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1340 Fixed table in Gardener API topic not showing properly
  docs/usage/gardener-api.md
Labels: needs/review, size/xs, needs/ok-to-test

#1309 Cleanup dashboard-webterminal service account if not used
  backend/__fixtures__/serviceaccounts.js
  backend/lib/services/terminals/index.js
  backend/test/acceptance/__snapshots__/api.members.spec.js.snap
  backend/test/acceptance/__snapshots__/api.terminals.spec.js.snap
  backend/test/acceptance/api.terminals.spec.js
  frontend/src/components/dialogs/CreateTerminalSessionDialog.vue
  frontend/src/components/dialogs/WebterminalServiceAccountDialog.vue
  frontend/src/store/index.js
Labels: size/l, needs/ok-to-test, needs/second-opinion

#1344 Read SubjectRules also if no project / namespace is selected
  frontend/src/router/guards.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1343 Use Clipboard API
  .pnp.cjs
  .yarn/cache/clipboard-npm-2.0.11-45358b5ae8-413055a603.zip
  .yarn/cache/delegate-npm-3.2.0-d3f849ea99-d943058fe0.zip
  .yarn/cache/good-listener-npm-1.2.2-e7865da849-f39fb82c4e.zip
  .yarn/cache/select-npm-1.1.2-13cd366fa2-4346151e94.zip
  .yarn/cache/tiny-emitter-npm-2.1.0-2a4d94f487-fbcfb51457.zip
  frontend/package.json
  frontend/src/components/CopyBtn.vue
  frontend/tests/unit/CopyBtn.spec.js
  yarn.lock
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1346 Solve problem with issue polling
  backend/lib/cache/tickets.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1278 Show Project Resource Quota
  backend/__fixtures__/index.js
  backend/__fixtures__/resourcequotas.js
  backend/jest.setup.js
  backend/lib/cache/index.js
  backend/lib/hooks.js
  backend/lib/routes/config.js
  backend/lib/routes/index.js
  backend/lib/routes/resourceQuotas.js
  backend/lib/services/authorization.js
  backend/lib/services/index.js
  backend/lib/services/projects.js
  backend/lib/services/resourceQuotas.js
  backend/test/acceptance/__snapshots__/api.resourceQuotas.spec.js.snap
  backend/test/acceptance/api.cloudProviderSecrets.spec.js
  backend/test/acceptance/api.controllerregistrations.spec.js
  backend/test/acceptance/api.resourceQuotas.spec.js
  backend/test/cache.spec.js
  backend/test/hooks.spec.js
  charts/__tests__/gardener-dashboard/application/__snapshots__/clusterrole.spec.js.snap
  charts/__tests__/gardener-dashboard/runtime/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/runtime/configmap.spec.js
  charts/gardener-dashboard/charts/application/templates/clusterrole.yaml
  charts/gardener-dashboard/charts/runtime/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  frontend/src/components/ResourceQuotaHelp.vue
  frontend/src/store/index.js
  frontend/src/store/modules/projectQuota.js
  frontend/src/utils/api.js
  frontend/src/views/Administration.vue
  frontend/tests/unit/store.projectQuota.spec.js
  frontend/tests/unit/utils.spec.js
  packages/kube-client/lib/resources/Core.js
Labels: reviewed/lgtm, size/xl, needs/ok-to-test

#1243 Rotate Credentials
  backend/lib/services/terminals/terminalBootstrap.js
  frontend/src/components/CredentialTile.vue
  frontend/src/components/NotReadyProjectWarning.vue
  frontend/src/components/ReconcileStart.vue
  frontend/src/components/RotateCredentials.vue
  frontend/src/components/RotateKubeconfigStart.vue
  frontend/src/components/ShootDetails/ShootCredentialRotationCard.vue
  frontend/src/components/ShootDetails/ShootDetails.vue
  frontend/src/components/ShootDetails/ShootLifecycleCard.vue
  frontend/src/components/ShootDetails/ShootMonitoringCard.vue
  frontend/src/components/ShootHibernation/ChangeHibernation.vue
  frontend/src/components/ShootListRowActions.vue
  frontend/src/components/ShootMaintenance/MaintenanceStart.vue
  frontend/src/components/ShootMessages/ShootMessages.vue
  frontend/src/mixins/shootItem.js
  frontend/src/mixins/shootStatusCredentialRotation.js
  frontend/src/utils/credentialsRotation.js
  frontend/src/utils/errorCodes.js
  frontend/tests/unit/ShootCredentialRotation.spec.js
  frontend/tests/unit/mixins.shootStatusCredentialRotation.spec.js
Labels: reviewed/lgtm, size/xl, needs/ok-to-test

#1349 Robust token refresh test
  backend/test/security.spec.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1348 Update browserlist
  .pnp.cjs
  .yarn/cache/caniuse-lite-npm-1.0.30001342-50542dd564-9ad47aec82.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001431-6d607db8ef-bc8ab55cd1.zip
  frontend/babel.config.js
  frontend/src/lib/terminal.js
  frontend/src/utils/logger.js
  yarn.lock
Labels: reviewed/lgtm, size/s, needs/ok-to-test

#1351 Allow update of roles for foreign serviceaccounts
  backend/lib/services/members/MemberManager.js
  backend/test/services.members.spec.js
  frontend/src/components/dialogs/MemberDialog.vue
Labels: reviewed/lgtm, reviewed/ok-to-test, size/xs

#1353 Allow filtering and completion for machine types
  frontend/src/components/ShootWorkers/MachineType.vue
  frontend/src/components/ShootWorkers/WorkerInputGeneric.vue
  frontend/tests/unit/MachineType.spec.js
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1357 Cleanup secret if secretBinding creation fails
  backend/lib/services/cloudProviderSecrets.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1366 Keep dashboard URL when user session is expired
  frontend/src/router/guards.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1364 Remove legacy gardenctl command
  charts/__tests__/gardener-dashboard/runtime/__snapshots__/configmap.spec.js.snap
  charts/gardener-dashboard/charts/runtime/templates/configmap.yaml
  charts/gardener-dashboard/values.yaml
  frontend/src/components/ShootDetails/GardenctlCommands.vue
  frontend/src/store/modules/storage.js
  frontend/src/views/Settings.vue
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#1361 gardener-dashboard chart: comment out oidc config
  charts/gardener-dashboard/values.yaml
Labels: reviewed/lgtm, size/s, needs/ok-to-test

#1360 Reset service account
  backend/lib/routes/members.js
  backend/lib/services/members/MemberManager.js
  backend/lib/services/members/index.js
  backend/test/acceptance/__snapshots__/api.members.spec.js.snap
  backend/test/acceptance/api.members.spec.js
  backend/test/services.members.spec.js
  frontend/src/components/ProjectServiceAccountRow.vue
  frontend/src/components/messages/ResetServiceAccount.vue
  frontend/src/store/index.js
  frontend/src/store/modules/members.js
  frontend/src/utils/api.js
  frontend/src/views/Members.vue
Labels: size/l, needs/ok-to-test, needs/second-opinion

#1368 Default to verbose logging if nothing is defined in localStorage
  frontend/src/store/modules/storage.js
  frontend/src/utils/logger.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1359 Fix for Rotate all credentials button on shoot list
  frontend/src/components/CredentialTile.vue
  frontend/src/components/RotateCredentials.vue
  frontend/src/components/ShootListRowActions.vue
  frontend/src/mixins/shootStatusCredentialRotation.js
  frontend/src/utils/credentialsRotation.js
  frontend/tests/unit/mixins.shootStatusCredentialRotation.spec.js
Labels: reviewed/lgtm, size/m, needs/ok-to-test
