Repository gardener/dashboard, pull requests merged in 2023-08, with the labels that each got.

#1512 Remove grantType `authcode-keyboard`, add `device-code`
  charts/__tests__/gardener-dashboard/runtime/dashboard/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/runtime/dashboard/configmap.spec.js
  charts/gardener-dashboard/charts/runtime/templates/dashboard/configmap.yaml
  charts/gardener-dashboard/values.yaml
  frontend/src/store/config.js
  frontend/src/views/GAccount.vue
Labels: reviewed/lgtm, reviewed/ok-to-test, size/s

#1514 Support GitHub app authentication
  .pnp.cjs
  .yarn/cache/@octokit-auth-app-npm-6.0.0-88cce64c7c-e3eb3ff7be.zip
  .yarn/cache/@octokit-auth-oauth-app-npm-7.0.0-0782f4f46b-fa050fbd05.zip
  .yarn/cache/@octokit-auth-oauth-device-npm-6.0.0-2501846a20-ba6e46a42a.zip
  .yarn/cache/@octokit-auth-oauth-user-npm-4.0.0-a6aff64dd4-d4382d5fa3.zip
  .yarn/cache/@octokit-endpoint-npm-9.0.0-0d4530e44e-0e402c4d0f.zip
  .yarn/cache/@octokit-oauth-authorization-url-npm-6.0.2-7e66c4af6b-0f11169a3e.zip
  .yarn/cache/@octokit-oauth-methods-npm-4.0.0-5405a95ddc-623f3031f5.zip
  .yarn/cache/@octokit-openapi-types-npm-18.0.0-1586e405d6-d487d6c6c1.zip
  .yarn/cache/@octokit-request-error-npm-5.0.0-262908a2c1-2012eca66f.zip
  .yarn/cache/@octokit-request-npm-8.1.1-404934a724-dec3ba2cba.zip
  .yarn/cache/@octokit-types-npm-11.1.0-668299c1c7-72627a94dd.zip
  .yarn/cache/@types-btoa-lite-npm-1.0.0-01da883611-4d0c3c36cc.zip
  .yarn/cache/@types-jsonwebtoken-npm-9.0.2-7af15f7b9b-3bb8d40e78.zip
  .yarn/cache/btoa-lite-npm-1.0.0-e85ee9286e-c2d61993b8.zip
  .yarn/cache/lru-cache-npm-10.0.1-0e1abf4c13-06f8d0e1ce.zip
  .yarn/cache/universal-github-app-jwt-npm-1.1.1-07e57504be-31d30150b9.zip
  backend/lib/config/gardener.js
  backend/lib/github/octokit.js
  backend/package.json
  charts/__tests__/gardener-dashboard/runtime/dashboard/__snapshots__/configmap.spec.js.snap
  charts/__tests__/gardener-dashboard/runtime/dashboard/__snapshots__/deployment.spec.js.snap
  charts/__tests__/gardener-dashboard/runtime/dashboard/configmap.spec.js
  charts/__tests__/gardener-dashboard/runtime/dashboard/deployment.spec.js
  charts/gardener-dashboard/charts/runtime/templates/dashboard/deployment.yaml
  charts/gardener-dashboard/charts/runtime/templates/dashboard/secret-github.yaml
  charts/gardener-dashboard/values.yaml
  yarn.lock
Labels: reviewed/lgtm, reviewed/ok-to-test, size/xl

#1517 Do not close tickets on shoot deletion
  backend/lib/services/tickets.js
  backend/lib/watches/shoots.js
  backend/test/services.tickets.spec.js
  backend/test/watches.spec.js
  charts/gardener-dashboard/values.yaml
Labels: reviewed/lgtm, size/m, reviewed/ok-to-test, needs/ok-to-test

#1504 Add HA config to dashboard deployment
  charts/__tests__/gardener-dashboard/runtime/dashboard/__snapshots__/deployment.spec.js.snap
  charts/gardener-dashboard/charts/runtime/templates/dashboard/deployment.yaml
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1519 Some minor fixes
  frontend/src/components/ShootDetails/GCustomFieldsCard.vue
  frontend/src/components/ShootWorkers/GWorkerGroup.vue
  frontend/vite.config.js
Labels: reviewed/lgtm, reviewed/ok-to-test, size/xs, needs/ok-to-test

#1518 Projects viewer should see all projects
  backend/__fixtures__/auth.js
  backend/lib/services/authorization.js
  backend/lib/services/projects.js
  backend/lib/services/shoots.js
  backend/lib/utils/index.js
  backend/test/acceptance/__snapshots__/api.projects.spec.js.snap
  backend/test/acceptance/api.projects.spec.js
  backend/test/services.projects.spec.js
Labels: reviewed/lgtm, size/s, needs/ok-to-test

#1527 Fix project creation error
  frontend/src/store/project.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1533 Replace `mapGetters` with `mapState`
  frontend/src/components/GShootEditor.vue
  frontend/src/components/Members/GMemberDialog.vue
  frontend/src/components/Secrets/GSecretDialog.vue
  frontend/src/components/Secrets/GSecretRowDns.vue
  frontend/src/components/Secrets/GSecretRowInfra.vue
  frontend/src/components/ShootAccessRestrictions/GAccessRestrictionsConfiguration.vue
  frontend/src/components/ShootDns/GDnsConfiguration.vue
  frontend/src/components/ShootDns/GDnsProviderRow.vue
  frontend/src/views/GSecrets.vue
Labels: reviewed/lgtm, reviewed/ok-to-test, size/s, needs/ok-to-test

#1530 Fix console error when navigating to All Projects page
  frontend/src/components/ShootDetails/GGardenctlCommands.vue
  frontend/src/components/dialogs/GProjectDialog.vue
  frontend/src/store/project.js
  frontend/src/utils/index.js
  frontend/src/views/GAdministration.vue
  frontend/src/views/GMembers.vue
  frontend/src/views/GShootList.vue
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#1529 Reset filter on Secrets, Members and Shoot list page
  frontend/src/views/GMembers.vue
  frontend/src/views/GSecrets.vue
  frontend/src/views/GShootList.vue
Labels: reviewed/lgtm, size/s, needs/ok-to-test
