Repository gardener/dashboard, pull requests merged in 2024-10, with the labels that each got.

#2030 Volume minimum size fixes / improvements
  frontend/__tests__/utils/index.spec.js
  frontend/src/components/ShootWorkers/GVolumeSizeInput.vue
  frontend/src/components/ShootWorkers/GWorkerInputGeneric.vue
  frontend/src/store/cloudProfile/index.js
  frontend/src/utils/index.js
Labels: reviewed/lgtm, size/m, reviewed/ok-to-test, needs/ok-to-test

#2123 Adapted GCP Secret Dialog client side validation
  frontend/__tests__/utils/validators.spec.js
  frontend/src/components/Secrets/GSecretDialogGcp.vue
  frontend/src/utils/validators.js
Labels: size/s, needs/review, needs/ok-to-test

#2124 Fixed: Version select headers shall not be selectable
  frontend/src/components/ShootVersion/GShootVersionUpdate.vue
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#2131 Drop get-token
  backend/lib/routes/user.js
  backend/test/acceptance/__snapshots__/api.user.spec.js.snap
  backend/test/acceptance/api.user.spec.js
  frontend/src/composables/useApi/api.js
  frontend/src/views/GAccount.vue
Labels: reviewed/lgtm, size/m, needs/ok-to-test

#2130 Fix sorting bug with issue-since column
  frontend/src/store/shoot/helper.js
Labels: reviewed/lgtm, size/xs, needs/ok-to-test, area/ipcei

#2033 Show warnings returned in admission reviews
  backend/lib/routes/shoots.js
  backend/lib/services/shoots.js
  frontend/__tests__/utils/headerWarnings.spec.js
  frontend/src/components/GNotify.vue
  frontend/src/components/GRetryOperation.vue
  frontend/src/components/ShootDetails/GShootAdminKubeconfig.vue
  frontend/src/components/dialogs/GInfoDialog.vue
  frontend/src/composables/useApi/api.js
  frontend/src/layouts/GLogin.vue
  frontend/src/plugins/notify.js
  frontend/src/store/app.js
  frontend/src/store/member.js
  frontend/src/utils/headerWarnings.js
  frontend/src/views/GShootItemEditor.vue
  packages/kube-client/__tests__/mixins.test.js
  packages/kube-client/lib/mixins.js
  packages/request/lib/Client.js
Labels: size/xl, needs/ok-to-test, needs/second-opinion, area/ipcei

#2142 Do not allow major version updates for `openid-client`
  .github/renovate.json5
Labels: reviewed/lgtm, size/xs, needs/ok-to-test

#2058 Upgrade to CodeMirror 6
  .pnp.cjs
  .yarn/cache/@codemirror-autocomplete-npm-6.18.1-cf0e6451dd-30bf98685f.zip
  .yarn/cache/@codemirror-commands-npm-6.6.2-b676d3905f-e2e5e40c97.zip
  .yarn/cache/@codemirror-lang-yaml-npm-6.1.1-394dfa1681-a6952affce.zip
  .yarn/cache/@codemirror-language-npm-6.10.3-3dc7824c61-3cb1c05c94.zip
  .yarn/cache/@codemirror-search-npm-6.5.6-7bc5d8a8c1-4bb8ca46d1.zip
  .yarn/cache/@codemirror-state-npm-6.4.1-3f770fdaf1-cdab74d0ca.zip
  .yarn/cache/@codemirror-theme-one-dark-npm-6.1.2-4b82de8377-d0d70ce1e0.zip
  .yarn/cache/@codemirror-view-npm-6.33.0-32d1a77fad-d5811048d8.zip
  .yarn/cache/@lezer-common-npm-1.2.1-12848e21a7-af61436dc0.zip
  .yarn/cache/@lezer-highlight-npm-1.2.1-e7943f0de4-51b4c08596.zip
  .yarn/cache/@lezer-lr-npm-1.4.2-3bce75dd47-22bb5d0d4b.zip
  .yarn/cache/@lezer-yaml-npm-1.0.3-30ba8f36a4-cef3d0c0a2.zip
  .yarn/cache/codemirror-npm-5.65.18-debbbac10b-806e00c708.zip
  .yarn/cache/crelt-npm-1.0.6-f8981fe6a1-e0fb76dff5.zip
  .yarn/cache/style-mod-npm-4.1.2-eeaff827c6-ad4d870b36.zip
  .yarn/cache/w3c-keyname-npm-2.2.8-66d7d5317a-37cf335c90.zip
  .yarnrc.yml
  frontend/__tests__/composables/useShootEditor.spec.js
  frontend/package.json
  frontend/src/assets/tab.png
  frontend/src/assets/whitespace-eye-off.svg
  frontend/src/assets/whitespace-eye.svg
  frontend/src/components/GShootEditor.vue
  frontend/src/composables/useEditorLineHighlighter.js
  frontend/src/composables/useEditorWhitespace.js
  frontend/src/composables/useShootEditor/codemirror.js
  frontend/src/composables/useShootEditor/helper.js
  frontend/src/composables/useShootEditor/index.js
  frontend/src/sass/main.scss
  frontend/src/store/localStorage.js
  frontend/src/views/GNewShootEditor.vue
  frontend/src/views/GShootItemEditor.vue
  yarn.lock
Labels: reviewed/lgtm, reviewed/ok-to-test, size/xl, needs/ok-to-test, area/ipcei
